/* LandingPage.css */

.landing-container {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 80px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .landing-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #2196F3; /* Blue */
  }
  
  .landing-description {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 40px;
  }
  
  .features-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .feature {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature i {
    font-size: 3rem;
    color: #FFC107; /* Yellow */
    margin-bottom: 15px;
  }
  
  .feature h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .feature p {
    font-size: 1.2rem;
  }
  
  .get-started-button {
    background-color: #FFC107; /* Yellow */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .get-started-button:hover {
    background-color: #FFD54F; /* Lighter Yellow */
  }
  .create-poll-button {
    background-color: #2196F3; /* Blue */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 10px;
  }
  